@model TestingSystem.Models.TestScheme

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestScheme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfQuestions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfQuestions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestSchemeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
